.headerContainer {
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  height: var(--header-h);
  display: flex;
  gap: 5px;
  align-items: center;
}
.logoContainer {
  display: flex;
  align-items: center;
}
.name {
  font-weight: bold;
  font-size: 14px;
}

.name > span {
  color: var(--color-primary);
}

.navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .name {
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .headerContainer {
    gap: 0px;
    justify-content: space-between;
  }

  .navigation {
    display: flex;
    gap: 24px;
    align-items: center;
  }
  
}
