.headerContainer {
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  height: var(--header-h);
  display: flex;
  gap: 5px;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
}
.name {
  font-weight: bold;
  font-size: 14px;
}

.name > span {
  color: var(--color-primary);
}

.navigation {
  display: none;
}

.activeNav {
  /* background-color: rgba(40, 96, 153, 0.15);
  color: var(--color-primary);
  padding: 12px;
  border-radius: 12px;
   */
}

/* .navigation a:hover,
.navigation a:focus {
  background-color: rgba(40, 96, 153, 0.08);
  color: var(--color-primary);
   padding: 12px;
  border-radius: 12px;
} */

@media screen and (min-width: 768px) {
  .name {
    font-size: 18px;
  }
  .headerContainer {
    gap: 0px;
    justify-content: space-between;
  }

  .navigation {
    display: flex;
    gap: 12px;
    align-items: center;
    /* justify-content: center; */
  }
  .navigation a {
    padding: 12px;
    border-radius: 12px;
  }
  .activeNav {
    background-color: rgba(9, 66, 122, 0.08);
    color: var(--color-primary);
  }
  .navigation a:hover {
    background-color: rgba(131, 139, 148, 0.08);
    color: var(--color-primary);
    /* padding: 12px;
    border-radius: 12px; */
  }
}

@media screen and (min-width: 1280px) {
  .navigation {
    font-size: 18px;
  }
}
