.formContainer {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 12px;
  background-color: var(--color-secondary);
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
}

[data-theme="dark"] .form {
  background-color: var(--color-primary);
}

/* .form a {
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 6px;
}
.form a:hover {
  background-color: rgba(131, 139, 148, 0.08);
  color: var(--color-primary);
} */

.input {
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: var(--color-secondary);
  color: var(--color-text);
}

[data-theme="dark"] .input {
  background-color: var(--color-dark-bg);
  color: var(--color-secondary);
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  background-color: var(--color-text);
  color: var(--color-secondary);
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 16px;
}
.button:hover {
  background-color: #555;
}
.passwordSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.passwordText {
  font-size: 12px;
  text-decoration: underline;
}

.text {
  font-size: 16px;
}

.textBackground {
  padding: 5px;
  border-radius: 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
  position: relative;
}

.link {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.registration {
  display: flex;
  align-items: center;
  gap: 12px;
}

.error {
  color: red;
  font-size: 12px;
}

.eyeBtn {
  color: var(--color-text);
  position: absolute;
  right: 0px;
  top: 12px;
}
