.formContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--color-secondary);
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
}

[data-theme="dark"] .form {
  background-color: var(--color-primary);
 
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 50px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: var(--color-secondary);
  color: var(--color-text);
}
[data-theme="dark"] .input {
  background-color: var(--color-dark-bg);
  color: var(--color-secondary);
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-text);
  color: var(--color-secondary);
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 10px;
}

.text {
  font-size: 14px;
  color: var(--color-text);
}

.textBackground {
  padding: 5px;
  border-radius: 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
  position: relative;
}

.link {
  color: var(--color-text);
  text-decoration: none;
  font-weight: bold;
}

.registration {
  display: flex;
  align-items: center;
  gap: 12px;
}

.title,
.form,
.text,
.link {
  position: relative; /* Для відображення поверх накладеного шару */
  z-index: 2; /* Забезпечуємо, що текст поверх інших елементів */
}

.error {
  color: red;
  font-size: 12px;
}
