.home {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.h1 {
  font-size: 48px;
  font-weight: bold;
  width: 270px;
}

.span {
  color: var(--color-primary);
  font-size: 32px;
  font-weight: bold;
}

.heroImg {
  background-image: url(../../img/DSC05500.jpeg);
  width: 288px;
  min-height: 232px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 32px;
  z-index: 1;
  background-position: center;
}
.aboutText {
  width: 288px;
  font-size: 16px;
  text-align: center;
}

.icon {
  color: var(--color-text);
}
.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 12px; */
}

.media {
  display: flex;
  gap: 36px;
}

@media screen and (min-width: 768px) {
  .home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* height: 100vh; */
  }
  .aboutText {
    font-size: 18px;
    text-align: left;
  }

  .heroImg {
    width: 400px;
    height: 350px;
  }
}

@media screen and (min-width: 1280px) {
  .heroImg {
    width: 590px;
    height: 450px;
  }
  .h1 {
    font-size: 80px;
    font-weight: bold;
  }

  .span {
    color: var(--color-primary);
    font-size: 56px;
    font-weight: bold;
  }
  .aboutText {
    font-size: 24px;
    width: 450px;
  }
  .reviews {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
    justify-content: space-around;
  }
}
