.home {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.h1 {
  font-size: 48px;
  font-weight: bold;
}

.h1 span {
  color: var(--color-primary);
  font-size: 32px;
}

.heroImg {
  background-image: url(../../img/DSC05500.jpg);
  width: inherit;
  height: 232px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 32px;
  z-index: 1;
  background-position: center;
}

.icon {
  color: var(--color-text);
}


.media{
  display: flex;
  gap: 36px;
}