.container{
    color: #333;
    background-image: url("/src/img/DSC05500.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* padding: 20px; */
    position: relative;
}