.modalContentMain {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(113, 113, 113, 0.7);
}

.form {
  display: flex;
  flex-direction: column;
 gap: 12px;
  justify-content: center;
  padding: 20px;
  margin: 16px;
  border-radius: 10px;
}

[data-theme="dark"] .form {
  background-color: var(--color-primary);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.modalTiming {
  margin: 0;
  background-color:  var(--color-info);
  color: var(--color-secondary);
  border-radius: 12px;
  padding-left: 4px;
  padding-right: 4px;
  width: fit-content;
}

.closeBtn {
  padding: 6px;
  border: none;
  border-radius: 50%;
  background-color: var(--color-text);
  color: var(--color-secondary);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeBtn:hover,
.closeBtn:focus {
  background-color: #555;
  color: var(--color-secondary);
}

.input {
  max-width: 100%;
  padding: 10px;
  
  border-radius: 50px;
  border: 1px solid #ccc;
  font-size: 14px;
  
}

[data-theme="dark"] .input {
  background-color: var(--color-dark-bg);
  color: var(--color-secondary);
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-text);
  color: var(--color-secondary);
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.error {
  color: red;
  font-size: 12px;
}
