.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 20px;
    gap: 12px;
    background-color: var(--color-secondary);
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
  }
  
  [data-theme="dark"] .form {
    background-color: var(--color-primary);
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: var(--color-secondary);
    color: var(--color-text);
  }
  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-text);
    color: var(--color-secondary);
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
  }
  .error {
    color: red;
    font-size: 12px;
  }
  .eyeBtn {
    color: var(--color-text);
    position: relative;
    left: 80px;
    top: -41px;
  }
  