.swiper {
  
  max-width:  250px;
  height: 150px;
  margin: 0px;
}


.swiperslide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  font-size: 14px; 
  
  text-align: center; 
  border-radius: 10px; 
}

.swiperslide p {
  font-weight: bold;
  margin: 0; /* Забираємо зовнішні відступи */
}

.naming {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
